<!--Make a HTML in JS application-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bug tracker</title>
  </head>
  <body>
    <h1>Tool to Bugs Report</h1>
    <p>Complete the following data</p>
    <form method="POST">
      <!--Name Field-->
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" />
      <!--Email Field-->
      <label for="email">Email: </label>
      <input type="email" id="email" name="email" />
      <!--Issue type Field-->
      <label for="issueType">Issue Type: </label>
      <input type="text" id="issueType" name="issueType" />
      <!--How to reproduce Field-->
      <label for="howToReproduce">How to Reproduce: </label>
      <input type="text" id="howToReproduce" name="howToReproduce" />
      <!--Expected output FieldExpected output Field-->
      <label for="expectedOutput">Expected output: </label>
      <input type="text" id="expectedOutput" name="expectedOutput" />
      <!--Received output Field-->
      <label for="receivedOuput">Received output: </label>
      <input type="text" id="receivedOuput" name="receivedOuput" />

      <button>Send</button>
    </form>
  </body>
</html>
